<div class="course-page-container">
  <section class="banner" style="
  background-image: url(/img/banner_ceramic.jpg);
  background-position: bottom;
  margin-bottom: 1rem;
">
    <div class="banner-container" style="
    text-align: inherit;
    width: 80%;
">
      <div class="banner-text">
        <p class="course-page-course-title">
          CERÁMICA <br />
          <span class="highlighted-green">& ALFARERÍA</span>
        </p>
        <p class="course-description">
          Aprende el proceso de producción, desde el modelado a mano y en torno, hasta el detallado, esmaltado y
          horneado
          de las piezas
        </p>
      </div>
    </div>
  </section>
  <section class="course-page-welcome-elements">
    <div class="course-teacher-img-container" style="
    background-image: url(/img/ceramic_teacher.jpg);
    background-size: cover;
    height: 27rem;
">
    </div>
    <div class="course-description-container" style="
    background-color: #347f8e;
">
      <div class="course-description-container-elements">
        <h1>Te damos la bienvenida!</h1>
        <p class="description--paragraph">
          ¡Hola! Soy Sol, Tallerista de Expresión Plástica egresada del Taller Torres-García ¡Un gusto en conocerte!<br>
          Conmigo aprenderás que la cerámica es mucho más que una mera técnica; es toda una experiencia y una forma de
          vida! Modelar
          pasta cerámica y crear
          piezas con tus propias manos es sumamente gratificante, llenador y terapéutico.​ ¡Acompañame en este viaje!
        </p>
        <p class="teacher--sign">Sol Echeverría</p>
      </div>
    </div>
  </section>
  <section class="course-content-elements">
    <div class="left-content">
      <div class="left-text">Experimentaremos el contacto directo con la materia y vivenciaremos la magia de su
        transformación</div>
      <div class="left-content-image">
        <p>Cerámica & Alfarería</p>
        <img src="/img/ceramic_2.jpg">
      </div>
    </div>
    <div class="right-content">
      <img src="/img/ceramic_1.jpg">
    </div>
    <ul class="course-content-elements-ul">
      <li>Crearemos piezas utilitarias y esculturas, experimentando muchas técnicas y decorados</li>
    </ul>
    <h1 class="course-content-elements-title">Experimentar & Crear</h1>
  </section>
  <section class="course-works">
    <div class="works-subtitle">
      <p style="
      color: #fdcf01;
  ">Obras salidas del taller</p>
    </div>
    <div class="works-examples-container">
      <div class="works-examples">
        <div class="work">
          <img src="/img/ceramic_work_1.jpg" alt="">
          <h3>Escultura.</h3>
          <p>Mary nos presenta "Desde nosotras florece", un hermoso homenaje a la mujer moldeado con sus manos.</p>
        </div>
        <div class="work">
          <img src="/img/ceramic_work_3.jpg" alt="">
          <h3>Deco.</h3>
          <p>Las coloridas y bellas obras de Jazmín son el alma mater de su exitoso emprendimiento en Instagram. Sus
            piezas decoran el
            hogar y los espacios de miles de personas.</p>
        </div>
        <div class="work">
          <img src="/img/ceramic_work_2.jpg" alt="">
          <h3>Vajilla.</h3>
          <p>Los huéspedas de Mónica reciben un toque especial en cada comida, hermosas piezas de céramica
            elaboradas por ella para acompañar sus desayunos y meriendas.</p>
        </div>
      </div>
    </div>

  </section>
  <section class="course-students-elements" style="
  background-color: #347f8e;
">
    <div class="left-students">
      <div class="left-students-text">
        <h1>Palabras de nuestros alumnos</h1>
      </div>
      <div class="left-student-image">
        <p class="student_name">Lilián</p>
        <img src="/img/ceramic_student_1.jpg" class="student_2">
        <div class="student_2_testimonial">
          <img src="/img/quote.svg" style="
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(104%) contrast(104%);
          width: 1rem;
      ">
          <h3> No solo es la hermosa satisfacción personal de terminar una pieza o beber en una taza hecha por ti. El
            barro es mucho más, para mi es terapéutico. Es mi momento, no hay nada más que música, un rico té, la
            arcilla y yo aprendiendo a entendernos.</h3>
        </div>
      </div>
    </div>
    <div class="right-students">
      <div class="right-student-image">
        <p class="student_name">Sebastián</p>
        <img src="/img/ceramic_student_2.jpg" class="student_1">
        <div class="student_1_testimonial">
          <img src="/img/quote.svg" style="
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(104%) contrast(104%);
          width: 1rem;
      ">
          <h3>Estoy muy contento de que mi vida se haya cruzado Sol y su estupendo taller, allí se crea una energía
            mágica donde se crean piezas con las manos además de conocer muchas personas con encanto.</h3>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="contact-form-container">
  <div class="contact-form" id="formulario_de_contacto">
    <div class="contact-form-title">
      <p>CONTACTA CON NOSOTROS<br>
        <span class="highlighted-green">PARA MÁS INFORMACIÓN</span>
      </p>
    </div>
    <div class="contact-form-form">
      <form action="/enviar_formulario" method="POST">
        <input type="text" name="name" placeholder="Nombre*" />
        <input type="email" name="email" placeholder="Email*" />
        <input type="number" name="phone" placeholder="Teléfono" />
        <input type="text" name="course" value="Cerámica & Alfarería" hidden />
    </div>
    <div class="button-container">
      <button type="submit">ENVIAR</button>
    </div>
    </form>
  </div>
</section>