<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Login</title>
  <link rel="stylesheet" href="/css/logstyle.css" />
</head>

<body>
  <div class="login-container">
    <div class="login-elements-holder">
      <div class="login">
        <div class="logo">
          <img src="/img/logo.png" alt="" style="
            width: 200px" />
        </div>
        <div class="form-holder">
          <form action="/admin/admin_login/:id" method="POST">
            <input type="text" name="username" id="" placeholder="username" />
            <input type="password" name="password" id="" placeholder="password" />
            <button type="submit">Login</button>
          </form>
        </div>
      </div>
      <div class="banner"></div>
    </div>
  </div>
</body>

</html>