<div class="course-page-container">
  <section class="banner" style="
  background-image: url(/img/banner_painting.jpg);
  background-position-y: bottom;
">
    <div class="banner-container" style="
    text-align: inherit;
    width: 80%;
">
      <div style="
      width: 50%;
  ">
        <p class="course-page-course-title">
          ARTE <br />
          <span class="highlighted-green">& PINTURA</span>
        </p>
        <p class="course-description">
          Acompañanos en este recorrido por la historia del arte clásico donde
          aprenderás datos históricos del Renacimiento, el Barroco y el Academicismo, y también
          los secretos de cada técnica usada en dichas épocas
        </p>
      </div>
    </div>
  </section>
  <section class="course-page-welcome-elements">
    <div class="course-teacher-img-container" style="
    background-image: url(/img/painting_teacher.jpg);
    background-size: cover;
    background-position-y: bottom;
    width: 30%;
    height: 27rem;
">
    </div>
    <div class="course-description-container">
      <div class="course-description-container-elements">
        <h1>Te damos la bienvenida!</h1>
        <p class="description--paragraph">
          ¡Hola! Mi nombre es Vera, yo seré tu guía en el maravilloso camino de la pintura y el
          arte. ¡Un gusto en conocerte!<br>
          Si te gusta pintar, si siempre quisiste aprender o si buscas un espacio donde desarrollar tu
          creatividad, ¡éste es tu taller! Aquí aprenderás y desarrollarás tu
          artista interior, en un ambiente donde la concentración y la dedicación convergen con la paz y la
          imaginación.​
        </p>
        <p class="teacher--sign">Vera Bordagaray</p>
      </div>
    </div>
  </section>
  <section class="course-content-elements">
    <div class="left-content">
      <div class="left-text">Conocerás la historia y las distintas técnicas de pintura para encontrar tu propio estilo
        artístico</div>
      <div class="left-content-image">
        <p>Modern Art</p>
        <img src="/img/painting_1.jpg">
      </div>
    </div>
    <div class="right-content">
      <img src="/img/painting_2.jpg">
    </div>
    <ul class="course-content-elements-ul">
      <li>Exploraremos los estilos clásicos, así como también los más modernos</li>
    </ul>
    <h1 class="course-content-elements-title">Estilos & Técnicas</h1>
  </section>
  <section class="course-works">
    <div class="works-subtitle">
      <p>Obras salidas del taller</p>
    </div>
    <div class="works-examples-container">
      <div class="works-examples">
        <div class="work">
          <img src="/img/painting_work_1.jpg" alt="">
          <h3>Modernismo</h3>
          <p>Julia nos presenta en esta gran obra un hermoso autorretrato pintado con sus dedos, marca fiel de su
            característico
            estilo.</p>
        </div>
        <div class="work">
          <img src="/img/painting_work_3.jpg" alt="">
          <h3>Fauvismo</h3>
          <p>Ailin se encuentra explorando la pintura fauvista, mientras nos regala hermosas obras que ya decoran su
            hogar que también es su museo.</p>
        </div>
        <div class="work">
          <img src="/img/painting_work_2.jpg" alt="">
          <h3>Óleo.</h3>
          <p>Samuel nos regala belleza y paz, retratando en óleo al pueblo francés de Collioure, del cual se enamoró en
            su último viaje.</p>
        </div>
      </div>
    </div>

  </section>
  <section class="course-students-elements">
    <div class="left-students">
      <div class="left-students-text">
        <h1>Palabras de nuestros alumnos</h1>
      </div>
      <div class="left-student-image">
        <p class="student_name">Ana</p>
        <img src="/img/painting_student_2.jpg" class="student_2">
        <div class="student_2_testimonial">
          <img src="/img/quote.svg" style="
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(104%) contrast(104%);
          width: 1rem;
      ">
          <h3>El taller es el lugar que yo anhelaba encontrar, un lugar donde he podido ser yo misma y encontrar a mi
            artista
            interior</h3>
        </div>
      </div>
    </div>
    <div class="right-students">
      <div class="right-student-image">
        <p class="student_name">Osvaldo</p>
        <img src="/img/painting_student_1.jpg" class="student_1">
        <div class="student_1_testimonial">
          <img src="/img/quote.svg" style="
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(230deg) brightness(104%) contrast(104%);
          width: 1rem;
      ">
          <h3>Hacer este taller es una experiencia que me ha sorprendido muy gratamente, por lo enriquecedor a nivel
            personal y por mi crecimiento como artista</h3>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="contact-form-container">
  <div class="contact-form" id="formulario_de_contacto">
    <div class="contact-form-title">
      <p>CONTACTA <span class="highlighted-green">CON NOSOTROS</span></p><br>
      <p><span class="highlighted-green">PARA MÁS</span> INFORMACIÓN</p>
    </div>
    <div class="contact-form-form">
      <form action="/enviar_formulario" method="POST">
        <input type="text" name="name" placeholder="Nombre*" />
        <input type="email" name="email" placeholder="Email*" />
        <input type="number" name="phone" placeholder="Teléfono" />
        <input type="text" name="course" value="Arte & Pintura" hidden />
    </div>
    <div class="button-container">
      <button type="submit">ENVIAR</button>
    </div>
    </form>
  </div>
</section>