<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= typeof title !="undefined" ? title: "Test title" %>
  </title>
  <link rel="icon" type="image/x-icon" href="/img/logo.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&family=VT323&display=swap" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@500&family=Jost:wght@500&family=VT323&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/testimonials.css">
</head>

<body>
  <header>
    <div class="nav-container">
      <nav>
        <div class="logo-container">
          <a href="/"><img src="/img/logo.png" class="logo" /></a>
        </div>
        <div class="menu">
          <ul class="horizontal-menu">
            <div class="li-container">
              <li class="li-with-vertical-menu">
                <a href="#" class="li-title">Planes Educativos</a>
                <div class="plus-container">
                  <svg class="plus" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round"
                    stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="m11 11h-7.25c-.414 0-.75.336-.75.75s.336.75.75.75h7.25v7.25c0 .414.336.75.75.75s.75-.336.75-.75v-7.25h7.25c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-7.25v-7.25c0-.414-.336-.75-.75-.75s-.75.336-.75.75z"
                      fill-rule="nonzero" />
                  </svg>
                </div>

                <ul class="vertical-menu">
                  <div class="">
                    <li><a href="/curso_gratuito">Curso Gratuito</a></li>
                  </div>
                  <li><a href="/curso_avanzado_de_trading">Curso avanzado de trading</a></li>
                  <li><a href="/curso_de_criptomonedas">Curso de criptomonedas</a></li>
                </ul>
              </li>
            </div>
            <div class="li-container">
              <li class="li-with-vertical-menu">
                <a href="#" class="li-title">Nosotros</a><svg class="plus" clip-rule="evenodd" fill-rule="evenodd"
                  stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="m11 11h-7.25c-.414 0-.75.336-.75.75s.336.75.75.75h7.25v7.25c0 .414.336.75.75.75s.75-.336.75-.75v-7.25h7.25c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-7.25v-7.25c0-.414-.336-.75-.75-.75s-.75.336-.75.75z"
                    fill-rule="nonzero" />
                </svg>
                <ul class="vertical-menu">
                  <li><a href="/quienes_somos">InversionesFinanz</a></li>
                  <li><a href="/testimonios">Testimonios</a></li>
                </ul>
              </li>
            </div>
            <div class="li-container">
              <li>
                <a href="/nuestro_blog/1">Blog</a>
              </li>
            </div>
            <div class="li-container">
              <li>
                <a href="/#formulario_de_contacto">Contacto</a>
              </li>
            </div>
          </ul>
        </div>
        <div class="hamburger-menu">
          <input id="menu__toggle" type="checkbox" />
          <label class="menu__btn" for="menu__toggle">
            <span></span>
          </label>

          <ul class="menu__box">
            <div class="hamburguer-logo-container">
              <img src="/img/logo.png" class="logo" />
            </div>
            <!-- <li><a class="menu__item" href="#">Главная</a></li> -->
            <li class="hamburger-li">
              <div class="hamburger-title-plus-container">
                <div class="plus-container">
                  <a href="#" class="menu__item" for="submenu__toggle">Planes Educativos</a>
                  <svg class="plus" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round"
                    stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="m11 11h-7.25c-.414 0-.75.336-.75.75s.336.75.75.75h7.25v7.25c0 .414.336.75.75.75s.75-.336.75-.75v-7.25h7.25c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-7.25v-7.25c0-.414-.336-.75-.75-.75s-.75.336-.75.75z"
                      fill-rule="nonzero" />
                  </svg>
                </div>
                <ul class="hamburger-sub-menu">
                  <li><a href="/curso_gratuito">Curso Gratuito</a></li>
                  <li><a href="/curso_avanzado_de_trading">Curso avanzado de trading</a></li>
                  <li><a href="/curso_de_criptomonedas">Curso de criptomonedas</a></li>
                </ul>
              </div>
            </li>
            <li class="hamburger-li">
              <div class="hamburger-title-plus-container">
                <div class="plus-container">
                  <a href="#" class="menu__item">Nosotros</a>
                  <svg class="plus" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round"
                    stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="m11 11h-7.25c-.414 0-.75.336-.75.75s.336.75.75.75h7.25v7.25c0 .414.336.75.75.75s.75-.336.75-.75v-7.25h7.25c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-7.25v-7.25c0-.414-.336-.75-.75-.75s-.75.336-.75.75z"
                      fill-rule="nonzero" />
                  </svg>
                </div>
              </div>
              <ul class="hamburger-sub-menu">
                <li><a href="/quienes_somos">InversionesFinanz</a></li>
                <li><a href="/testimonios">Testimonios</a></li>
              </ul>
            </li>
            <li class="hamburger-li">
              <div class="hamburger-title-plus-container">
                <a class="menu__item" href="/nuestro_blog/1">Blog</a>
              </div>
            </li>
            <li class="hamburger-li">
              <div class="hamburger-title-plus-container">
                <a class="menu__item" href="/#formulario_de_contacto">Contacto</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <div class="testimonials-container">
    <div class="testimonials-elements">
      <div class="who-we-are-title">
        <p><span class="highlighted-green">TESTIMONIOS</span></p>
      </div>
      <section class="t-bq-section" id="paul">
        <div class="t-bq-wrapper t-bq-wrapper-boxed">
          <div class="t-bq-quote t-bq-quote-paul">
            <!-- <div class="t-bq-quote-paul-userpic"></div> -->
            <!--         <div class="t-bq-quote-paul-pattern">
            </div> -->
            <div class="t-bq-quote-paul-base">
              <div class="t-bq-quote-paul-qmark">
                &#10077;
              </div>
              <blockquote class="t-bq-quote-paul-text" cite="Strugatsky Brothers">
                Termine el curso gratuito y el avanzado los dos super recomendable, los profesores enseñan de lujo y te
                brindan un seguimiento continuo para que no te descuelgues. !Lo recomiendo!
              </blockquote>
              <div class="t-bq-quote-paul-qmark" style="display: flex;flex-direction: row-reverse;height: 0.5rem;">
                <span style="
                transform: rotate(180deg);
            ">
                  &#10077;
                </span>
              </div>
              <div class="t-bq-quote-paul-meta">
                <div class="t-bq-quote-paul-meta-info">
                  <div class="t-bq-quote-paul-author"><cite>Matias Fernandez – Curso avanzado
                    </cite></div>
                  <div class="t-bq-quote-paul-source"><span>Cordoba, Argentina</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="t-bq-wrapper t-bq-wrapper-boxed test--green">
          <div class="t-bq-quote t-bq-quote-paul">
            <!-- <div class="t-bq-quote-paul-userpic"></div> -->
            <!--         <div class="t-bq-quote-paul-pattern">
            </div> -->
            <div class="t-bq-quote-paul-base">
              <div class="t-bq-quote-paul-qmark">
                &#10077;
              </div>
              <blockquote class="t-bq-quote-paul-text" cite="Strugatsky Brothers">
                Recomiendo 100% Una gran experiencia y reune todo el conocimiento necesario para tener una base solida
                para
                iniciar en esto de las inversiones. Los profesores son profesionales.
              </blockquote>
              <div class="t-bq-quote-paul-qmark" style="display: flex;flex-direction: row-reverse;height: 0.5rem;">
                <span style="
                transform: rotate(180deg);
            ">
                  &#10077;
                </span>
              </div>
              <div class="t-bq-quote-paul-meta">
                <div class="t-bq-quote-paul-meta-info">
                  <div class="t-bq-quote-paul-author"><cite>Catalina Gomez – Curso gratuito
                    </cite></div>
                  <div class="t-bq-quote-paul-source"><span>Buenos Aires, Argentina</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="t-bq-wrapper t-bq-wrapper-boxed test--green resp-no-green">
          <div class="t-bq-quote t-bq-quote-paul">
            <!-- <div class="t-bq-quote-paul-userpic"></div> -->
            <!--         <div class="t-bq-quote-paul-pattern">
            </div> -->
            <div class="t-bq-quote-paul-base">
              <div class="t-bq-quote-paul-qmark">
                &#10077;
              </div>
              <blockquote class="t-bq-quote-paul-text" cite="Strugatsky Brothers">
                Mucha claridad y muy bien explicado. Con el curso avanzado se aprende mas pero los dos estan muy bien.
              </blockquote>
              <div class="t-bq-quote-paul-qmark" style="display: flex;flex-direction: row-reverse;height: 0.5rem;">
                <span style="
                transform: rotate(180deg);
            ">
                  &#10077;
                </span>
              </div>
              <div class="t-bq-quote-paul-meta">
                <div class="t-bq-quote-paul-meta-info">
                  <div class="t-bq-quote-paul-author"><cite>Sofia Jara – Curso avanzado
                    </cite></div>
                  <div class="t-bq-quote-paul-source"><span>Valparaiso, Chile</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="t-bq-wrapper t-bq-wrapper-boxed resp--green">
          <div class="t-bq-quote t-bq-quote-paul">
            <!-- <div class="t-bq-quote-paul-userpic"></div> -->
            <!--         <div class="t-bq-quote-paul-pattern">
            </div> -->
            <div class="t-bq-quote-paul-base">
              <div class="t-bq-quote-paul-qmark">
                &#10077;
              </div>
              <blockquote class="t-bq-quote-paul-text" cite="Strugatsky Brothers">
                Ya habia cursado 2 cursos avanzados en otras academias, no esperaba mucho de este curso pero me inscribi
                para acompañar a un colega y que el aprendiera un poco de todo este mundo, al contrario de lo que
                esperaba
                termine el curso gratamente sorprendido, los profesores unos profesionales de verdad, aprendi muchos
                conceptos y estrategias nuevas de inversion. Me alegro haber realizado este curso.
              </blockquote>
              <div class="t-bq-quote-paul-qmark" style="display: flex;flex-direction: row-reverse;height: 0.5rem;">
                <span style="
                transform: rotate(180deg);
            ">
                  &#10077;
                </span>
              </div>
              <div class="t-bq-quote-paul-meta">
                <div class="t-bq-quote-paul-meta-info">
                  <div class="t-bq-quote-paul-author"><cite>Lucas Rojas – Curso avanzado
                    </cite></div>
                  <div class="t-bq-quote-paul-source"><span>Santiago de Chile, Chile</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="t-bq-wrapper t-bq-wrapper-boxed">
          <div class="t-bq-quote t-bq-quote-paul">
            <!-- <div class="t-bq-quote-paul-userpic"></div> -->
            <!--         <div class="t-bq-quote-paul-pattern">
            </div> -->
            <div class="t-bq-quote-paul-base">
              <div class="t-bq-quote-paul-qmark">
                &#10077;
              </div>
              <blockquote class="t-bq-quote-paul-text" cite="Strugatsky Brothers">
                Excelente, siempre dispuestos a ayudar inclusive despues de terminado el curso. Lo recomiendo a todo el
                mundo.
              </blockquote>
              <div class="t-bq-quote-paul-qmark" style="display: flex;flex-direction: row-reverse;height: 0.5rem;">
                <span style="
                transform: rotate(180deg);
            ">
                  &#10077;
                </span>
              </div>
              <div class="t-bq-quote-paul-meta">
                <div class="t-bq-quote-paul-meta-info">
                  <div class="t-bq-quote-paul-author"><cite>Jose Zambrano – Curso gratuito
                    </cite></div>
                  <div class="t-bq-quote-paul-source"><span>Guayaquil, Ecuador</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="t-bq-wrapper t-bq-wrapper-boxed test--green">
          <div class="t-bq-quote t-bq-quote-paul">
            <!-- <div class="t-bq-quote-paul-userpic"></div> -->
            <!--         <div class="t-bq-quote-paul-pattern">
            </div> -->
            <div class="t-bq-quote-paul-base">
              <div class="t-bq-quote-paul-qmark">
                &#10077;
              </div>
              <blockquote class="t-bq-quote-paul-text" cite="Strugatsky Brothers">
                El curso es genial y entretenido. Muy buena academia se hace facil aprender con estos profesionales.
                Felicitaciones!
              </blockquote>
              <div class="t-bq-quote-paul-qmark" style="display: flex;flex-direction: row-reverse;height: 0.5rem;">
                <span style="
                transform: rotate(180deg);
            ">
                  &#10077;
                </span>
              </div>
              <div class="t-bq-quote-paul-meta">
                <div class="t-bq-quote-paul-meta-info">
                  <div class="t-bq-quote-paul-author"><cite>Manuel Torres – Curso avanzado
                    </cite></div>
                  <div class="t-bq-quote-paul-source"><span>Quito, Ecuador</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="t-bq-wrapper t-bq-wrapper-boxed test--green resp-no-green">
          <div class="t-bq-quote t-bq-quote-paul">
            <!-- <div class="t-bq-quote-paul-userpic"></div> -->
            <!--         <div class="t-bq-quote-paul-pattern">
            </div> -->
            <div class="t-bq-quote-paul-base">
              <div class="t-bq-quote-paul-qmark">
                &#10077;
              </div>
              <blockquote class="t-bq-quote-paul-text" cite="Strugatsky Brothers">
                Recomendable, brindan mucha informacion y explican muy facil cosas que parecen complicadas, lo
                recomiendo
                mil veces.
              </blockquote>
              <div class="t-bq-quote-paul-qmark" style="display: flex;flex-direction: row-reverse;height: 0.5rem;">
                <span style="
                transform: rotate(180deg);
            ">
                  &#10077;
                </span>
              </div>
              <div class="t-bq-quote-paul-meta">
                <div class="t-bq-quote-paul-meta-info">
                  <div class="t-bq-quote-paul-author"><cite>Rosa Huaman – Curso gratuito
                    </cite></div>
                  <div class="t-bq-quote-paul-source"><span>Trujillo, Peru</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="t-bq-wrapper t-bq-wrapper-boxed resp--green">
          <div class="t-bq-quote t-bq-quote-paul">
            <!-- <div class="t-bq-quote-paul-userpic"></div> -->
            <!--         <div class="t-bq-quote-paul-pattern">
            </div> -->
            <div class="t-bq-quote-paul-base">
              <div class="t-bq-quote-paul-qmark">
                &#10077;
              </div>
              <blockquote class="t-bq-quote-paul-text" cite="Strugatsky Brothers">
                Me parece una academia excelente, la docencia online es muy buena y cercana con los estudiantes y te
                resuleven todas las dudas que te vayan surgiendo. Muy recomendable
              </blockquote>
              <div class="t-bq-quote-paul-qmark" style="display: flex;flex-direction: row-reverse;height: 0.5rem;">
                <span style="
                transform: rotate(180deg);
            ">
                  &#10077;
                </span>
              </div>
              <div class="t-bq-quote-paul-meta">
                <div class="t-bq-quote-paul-meta-info">
                  <div class="t-bq-quote-paul-author"><cite>Luis Quispe – Curso criptomonedas
                    </cite></div>
                  <div class="t-bq-quote-paul-source"><span>Lima, Peru</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="t-bq-wrapper t-bq-wrapper-boxed">
          <div class="t-bq-quote t-bq-quote-paul">
            <!-- <div class="t-bq-quote-paul-userpic"></div> -->
            <!--         <div class="t-bq-quote-paul-pattern">
            </div> -->
            <div class="t-bq-quote-paul-base">
              <div class="t-bq-quote-paul-qmark">
                &#10077;
              </div>
              <blockquote class="t-bq-quote-paul-text" cite="Strugatsky Brothers">
                El curso muy chevere y la atencion de los profesores es muy buena. Aprendi mucho y resolvi dudas que
                tenia
                sobre el trading, muchas gracias y agradezco toda la ayuda que me brindaron.
              </blockquote>
              <div class="t-bq-quote-paul-qmark" style="display: flex;flex-direction: row-reverse;height: 0.5rem;">
                <span style="
                transform: rotate(180deg);
            ">
                  &#10077;
                </span>
              </div>
              <div class="t-bq-quote-paul-meta">
                <div class="t-bq-quote-paul-meta-info">
                  <div class="t-bq-quote-paul-author"><cite>Miguel Angel Hernandez – Curso gratuito
                    </cite></div>
                  <div class="t-bq-quote-paul-source"><span>Cuernavaca, Mexico</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="t-bq-wrapper t-bq-wrapper-boxed test--green">
          <div class="t-bq-quote t-bq-quote-paul">
            <!-- <div class="t-bq-quote-paul-userpic"></div> -->
            <!--         <div class="t-bq-quote-paul-pattern">
            </div> -->
            <div class="t-bq-quote-paul-base">
              <div class="t-bq-quote-paul-qmark">
                &#10077;
              </div>
              <blockquote class="t-bq-quote-paul-text" cite="Strugatsky Brothers">
                No conocia nada de Forex, despues del curso gratuito ya estoy dando mis primeros pasos. Gracias muy
                bueno
                y
                recomendable el curso.
              </blockquote>
              <div class="t-bq-quote-paul-qmark" style="display: flex;flex-direction: row-reverse;height: 0.5rem;">
                <span style="
                transform: rotate(180deg);
            ">
                  &#10077;
                </span>
              </div>
              <div class="t-bq-quote-paul-meta">
                <div class="t-bq-quote-paul-meta-info">
                  <div class="t-bq-quote-paul-author"><cite>Santiago Lopez – Curso gratuito
                    </cite></div>
                  <div class="t-bq-quote-paul-source"><span>Ciudad de Mexico, Mexico</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="t-bq-wrapper t-bq-wrapper-boxed test--green resp-no-green">
          <div class="t-bq-quote t-bq-quote-paul">
            <!-- <div class="t-bq-quote-paul-userpic"></div> -->
            <!--         <div class="t-bq-quote-paul-pattern">
            </div> -->
            <div class="t-bq-quote-paul-base">
              <div class="t-bq-quote-paul-qmark">
                &#10077;
              </div>
              <blockquote class="t-bq-quote-paul-text" cite="Strugatsky Brothers">
                Super recomendable, se aprende muchisimo y los profesores son muy buenos de verdad te explican todo al
                detalle y enseñan estrategias muy buenas.
              </blockquote>
              <div class="t-bq-quote-paul-qmark" style="display: flex;flex-direction: row-reverse;height: 0.5rem;">
                <span style="
                transform: rotate(180deg);
            ">
                  &#10077;
                </span>
              </div>
              <div class="t-bq-quote-paul-meta">
                <div class="t-bq-quote-paul-meta-info">
                  <div class="t-bq-quote-paul-author"><cite>Juan Carlos Rodriguez – Curso Avanzado
                    </cite></div>
                  <div class="t-bq-quote-paul-source"><span>Bogota, Colombia</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="t-bq-wrapper t-bq-wrapper-boxed resp--green">
          <div class=" t-bq-quote t-bq-quote-paul">
            <!-- <div class="t-bq-quote-paul-userpic"></div> -->
            <!--         <div class="t-bq-quote-paul-pattern">
            </div> -->
            <div class="t-bq-quote-paul-base">
              <div class="t-bq-quote-paul-qmark">
                &#10077;
              </div>
              <blockquote class="t-bq-quote-paul-text" cite="Strugatsky Brothers">
                Termine el curso y me parecio muy bacano, partia desde cero y ahora tengo los conocimientos necesarios
                para
                empezar a invertir. Los profesores y tutores responden todas las dudas que te pueden surgir.
              </blockquote>
              <div class="t-bq-quote-paul-qmark" style="display: flex;flex-direction: row-reverse;height: 0.5rem;">
                <span style="
                transform: rotate(180deg);
            ">
                  &#10077;
                </span>
              </div>
              <div class="t-bq-quote-paul-meta">
                <div class="t-bq-quote-paul-meta-info">
                  <div class="t-bq-quote-paul-author"><cite>Daniela Sanchez – Curso gratuito
                    </cite></div>
                  <div class="t-bq-quote-paul-source"><span>Medellin, Colombia</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>



      </section>
    </div>

  </div>

  <footer>
    <div class="footer-content">
      <div class="footer-menu">
        <ul class="footer-menu-ul">
          <li>
            <p class="footer-title">Planes Educativos</p>
            <ul>
              <li><a href="/curso_gratuito">Curso Gratuito</a></li>
              <li><a href="/curso_avanzado_de_trading">Curso avanzado de trading</a></li>
              <li><a href="/curso_de_criptomonedas">Curso de criptomonedas</a></li>
            </ul>
          </li>
          <li>
            <p class="footer-title">Nosotros</p>
            <ul>
              <li><a href="/quienes_somos">InversionesFinanz</a></li>
              <li><a href="/testimonios">Testimonios</a></li>
              <li><a href="/nuestro_blog/1" class="footer-title">Blog</a></li>
              <li><a href="/#formulario_de_contacto" class="footer-title">Contacto</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>