<div class="who-we-are-page-container">
  <div class="who-we-are-page-elements">
    <div class="who-we-are-page-title">
      <p>QUIENES <span class="highlighted-green">SOMOS</span></p>
    </div>
    <div class="who-we-are-left-right">
      <div class="who-we-are-left">
        <div class="who-we-are-left-elements">
          <img src="/img/pietra_founder.jpg" style="width: 20rem;">
          <div class="who-we-are-left-text">
            <h1>Vera Bordagaray</h1>
            <p>Tallerista fundadora de DELLA PIETRA taller</p>
          </div>
        </div>
      </div>
      <div class="who-we-are-right">
        <div class="who-we-are-right-elements">
          <h1>Un espacio multiarte<br> para todas las edades</h1>
          <p>Corría el año 2014 cuando la pintora Vera Bordagaray funda el taller DELLA PIETRA en la
            ciudad de Maldonado, Uruguay.<br>
            El exitoso taller de pintura y artes plásticas dictados por la misma Vera fue el puntapié inicial para la
            gran obra que la artista ideaba crear: Un espacio multiarte donde se dictaran talleres de variadas
            expresiones artísticas, tanto para adultos como para niños y adolescentes. <br>
            Hoy en día en el espacio DELLA PIETRA además del taller de Vera, alberga el taller de Cerámica y Alfarería y
            la escuela de Yoga, ambos con estudiantes de todas las edades.<br>
            El éxito que han tenido los tres talleres desde la creación del espacio, ha dado lugar para que en este
            momento se esté trabajando en la ampliación
            del mismo, con motivo de incorporar los talleres de Danza, Teatro, Música y Escritura
            Creativa.
          </p>
          <div class="who_we_are_student">
            <img src="/img/painting_student_3.jpg" style="width: 20rem; margin-top: 1rem">
            <p>Taller de arte & pintura, año 2018</p>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>