<div class="who-we-are-page-container">
  <div class="who-we-are-page-elements">
    <div class="who-we-are-title">
      <p>QUIENES <span class="highlighted-green">SOMOS</span></p>
    </div>
    <div class="who-we-are-left-right">
      <div class="who-we-are-left">
        <div class="who-we-are-left-elements">
          <img src="/img/pietra_founder.jpg" style="width: 20rem;">
          <div class="who-we-are-left-text">
            <h1>Vera Bordagaray</h1>
            <p>Tallerista fundadora de DELLA PIETRA taller</p>
          </div>
        </div>
      </div>
      <div class="who-we-are-right"></div>
    </div>
  </div>

</div>