<div class="our-courses-container">
  <div class="who-we-are-page-elements">
    <div class="who-we-are-title">
      <p>SOBRE <span class="highlighted-green">NOSOTROS</span></p>
    </div>
    <p style="
    text-align: justify;
">
      Desde aquí te damos la bienvenida a nuestra academia de trading para todos. Aquí podras formarte como un inversor
      exitoso, es el lugar donde conocerás y aprenderás todo sobre los mercados más importantes del mundo, donde te
      formaras
      para poder invertir en acciones, materias primas, indices y forex.
    </p>

    <div class="who-we-are-title">
      <p>QUIENES <span class="highlighted-green">SOMOS</span></p>
    </div>
    <div class="who-we-are-traders">
      <div class="trader-card">
        <img src="/img/profile1.png" width="200px">
        <h5>Manuel Lopez</h5>
        <small>
          <p>Founder</p>
        </small>
      </div>
      <div class="trader-card"><img src="/img/profile2.png" width="200px">
        <h5>Isabel Sanchez</h5>
        <small>
          <p>Founder</p>
        </small>
      </div>
      <div class="trader-card"><img src="/img/profile3.png" width="200px">
        <h5>Tomás Jimenez</h5>
        <small>
          <p>Founder</p>
        </small>
      </div>
    </div>
    <p class="who-we-are-description">
      Nombre academia – Surge en respuesta a varios años de dedicación a los mercados financieros, somos traders con más
      de
      14 años de experiencia invirtiendo de forma exitosa, actualmente en nuestra academia contamos con un equipo de más
      de
      36 profesionales, más de 1700 alumnos y 4 años impartiendo cursos por todo Latinoamérica y Europa, pero todo esto
      surge muchos años antes cuando 3 traders que apenas tenían entre 1 a 2 años de experiencia en el mundo de las
      inversiones coincidieron en una convención de forex en la ciudad de Lisboa, Portugal en agosto del 2010 desde ese
      momento se empezó a crear un equipo de trabajo donde estos 3 traders recorrieron un largo camino de éxitos y
      fracasos,
      adquiriendo conocimientos, compartiendo estrategias de inversión e ideando nuevas estrategias personalizadas hasta
      convertirse en traders profesionales, es por eso que después de años de poder disfrutar de todo este mundo
      coincidimos
      los 3 en poder devolver un poco todo lo que nos ha brindado esta hermosa profesión y que el camino de nuestros
      alumnos
      sea mucho más sencillo de lo que fue el nuestro.<br><br>
      Aquí podrás encontrar desde cursos básicos sobre el mercado de inversiones hasta los niveles más avanzados, un
      sistema
      de enseñanza comprobado que excede los clásicos cursos sobre el mercado financiero, seguido de un acompañamiento
      hombro a hombro para que pueda cumplir su desarrollo de forma exitosa.<br><br>
      No solo seras parte de una academia, formaras parte de una comunidad con un solo objetivo en la mira,
      transformarnos
      todos juntos en Traders Profesionales.
    </p>
  </div>
</div>