* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.welcome-modal-window {
  background-color: #00000094;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-modal-elements {
  background-color: whitesmoke;
  max-width: 30rem;
  padding: 1.2rem;
  text-align: center;
}

.welcome-modal-h h1 {
  font: 500 1.5rem/125% 'Jost', sans-serif;
}

.welcome-modal-p p {
  margin: 1rem 0;
}

.nav-container {
  display: flex;
  justify-content: center;
}

nav {
  background-color: #fff;
  height: 4.5rem;
  width: 90%;
  display: flex;
  /* margin: auto; */
  justify-content: space-between;
}

.logo-container {
  /* max-width: 17%; */
  display: flex;
  align-items: center;
  height: 100%;
  width: 30%;
}

.logo {
  width: 9rem;
  height: 6rem;
  filter: invert(94%) sepia(170%) saturate(1508%) hue-rotate(112deg) brightness(112%) contrast(65%);
}

.menu {
  width: 70%;
}

.horizontal-menu {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.horizontal-menu li a,
ul li a {
  display: block;
  color: #303030;
  font-size: 0.9rem;
}

.horizontal-menu .li-container:hover .li-with-vertical-menu .li-title {
  color: #2DD2C1;
}

.horizontal-menu .li-container a:hover,
ul li a:hover {
  color: #2DD2C1;
}

.vertical-menu {
  position: absolute;
  background-color: white;
  margin-top: 2.7rem;
  display: none;
}

.horizontal-menu .li-container:hover .vertical-menu {
  display: block;
}

.horizontal-menu .li-container {
  cursor: pointer;
}

.vertical-menu li {
  border-top: 1px solid lightgray;
  height: 2.5rem;
  width: 16rem;
  display: flex;
  align-items: center;
}

/* .vertical-menu li:hover{
  
} */

.vertical-menu li a {
  display: block;
  /* padding: 2rem 2rem 2rem 3rem; */
  margin-left: 0.5rem;
}

.li-container {
  display: flex;
  justify-content: right;
  align-items: center;
  /* width: 11rem; */
}

.plus {
  width: 0.8rem;
  transform: rotate(0);
  transform-origin: center center;
  transition: all 150ms linear;
}

.horizontal-menu .li-container:hover .plus

/* ,
.hamburger-li:hover .plus */
  {
  /* */
  transform: rotate(90deg);
}

.li-with-vertical-menu {
  display: flex;
}

.banner {
  width: 100%;
  /* background-image: url(/img/banner.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-container {
  color: #fffdfd;
  text-align: center;
}

.banner-text {
  width: 50%;
}

.course-page-course-title,
.index-page-banner-title {
  font: 500 4rem/125% 'Jost', sans-serif;
}

.highlighted-green {
  color: #2DD2C1
}

button {
  /* display: inline-block; */
  border-radius: 100px;
  padding: 15px 15px;
  min-width: 13.75rem;
  font: 700 0.813rem/1.25rem 'Lato', sans-serif;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background: #2DD2C1;
  border: none;
  cursor: pointer;
}

.ceramic-course-button-container {
  padding: 1rem 0;
}

.ceramic-course-button-container form {
  display: flex;
  justify-content: center;
}



.hamburger-menu {
  display: none;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  right: 1rem;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #303030;

  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 240px;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.menu__item {
  display: block;
  /* color: #2DD2C1; */
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}

.hamburger-li {
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
}

/* .hamburger-title-plus-container:hover a{
  color: #39b54a;
} */

.plus-container {
  display: flex;
  margin-bottom: 0.4rem;
  justify-content: center;
}

.hamburguer-logo-container {
  margin-bottom: 1.8rem;
}

.our-courses-container {
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
}

.our-courses {
  width: 90%;
  /* margin-bottom: 2rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-courses p,
.contact-form-title p,
.our-blog-title p,
.course-page-title p {
  font: 500 2.5rem/125% 'Jost', sans-serif;
  color: #4b4949;
  margin: 1rem 0;
}

.our-courses-title {
  text-align: center;
  height: 7rem;
  display: flex;
  align-items: center;
}

.our-courses-courses {
  display: flex;
  justify-content: space-between;
  width: 88%;
}

.our-courses-courses a {
  width: 32.5%;
}

.course {
  height: 25rem;
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.1rem;
  /* margin-bottom: 0.5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.ceramic-course {
  background-image: linear-gradient(rgba(0, 0, 0, 0.100), rgba(0, 0, 0, 0.3)), url(/img/course_ceramic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
}

.painting-course {
  background-image: linear-gradient(rgba(0, 0, 0, 0.100), rgba(0, 0, 0, 0.2)), url(/img/course_painting.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
}

.yoga-course {
  background-image: linear-gradient(rgba(0, 0, 0, 0.100), rgba(0, 0, 0, 0.3)), url(/img/course_yoga.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
}

.course-teacher-img-container {
  width: 30%;
  background-position-y: bottom;
}

.course-title {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.course h1 {
  font-family: 'Tangerine', cursive;
  color: white;
  font-size: 3rem;
  font-weight: 500;
  /* width: 14.5rem; */
}

.course p {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.course-description {
  margin-top: 1rem;
  line-height: 1.4rem;
}

.course-description-container {
  width: 70%;
  padding: 2rem;
  text-align: justify;
  word-break: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #346e69;
}

.course-description-container h1 {
  /* font-family: 'The Nautigal', cursive; */
  font-family: 'Beth Ellen', cursive;
  font-size: 1.5rem;
  color: #0ccda4;
  font-weight: 500;
}

.course-description-container-elements {
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.course-description-container-elements .description--paragraph {
  line-height: 1.55rem;
  font-size: 0.9rem;
  color: white;
  text-indent: 1.5rem;
}

.course-description-container-elements .teacher--sign {
  text-align: right;
  font-family: 'Meddon', cursive;
  font-size: 1.34rem;
  color: white;
}

.who-we-are-container {
  height: 25rem;
  width: 100%;
  background-image: url(/img/who-we-are.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.who-we-are {
  text-align: center;
}

.who-we-are-title p {
  font: 500 2.5rem/125% 'Jost', sans-serif;
  color: #4b4949;
  margin: 1rem 0;
}

.errorMessage_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorMessage {
  width: 50%;
  margin: 1rem 0;
  text-align: end;
  color: red;
  font-style: italic;
  font-size: 0.85rem;
}


.contact-form {
  text-align: center;
}

.contact-form-container {
  background-color: #E6E7E8;
  padding: 2.5rem 0;
}

.contact-form-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0 0;
}

.contact-form-form form {
  width: 45%;
}

.contact-form-form input,
.contact-form-form select {
  /* display: block; */
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin-bottom: 0.8rem;
}

.contact-form-form input:focus,
.contact-form-form select:focus {
  outline: none;
  border-color: #39b54a;
  border-width: 2px;
}

.contact-form-container button {
  margin-bottom: 1rem;
}

.our-blog-container {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.our-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.our-blog-title {
  text-align: center;
  margin-top: 1rem;
}

.our-blog .article {
  min-height: 28rem;
  max-height: 35rem;
  width: 21rem;
  margin: 0 0.2rem;
  /* margin-bottom: 1rem; */
  box-shadow: rgb(0 0 0 / 35%) 0px 15px 15px;
  margin-top: 1rem;
}

.our-blog .article-img {
  height: 50%;
}

.our-blog .article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our-blog .article-text {
  background-color: #ffffff;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  padding: 1rem;
}

.our-blog-articles {
  width: 100%;
  margin-top: 1rem;
  /* margin-bottom: 1.5rem; */
  display: flex;
  justify-content: center;
}

.our-blog-articles .article-title {
  font: 500 1.25rem/125% 'Jost', sans-serif;
  color: #4b4949;
  padding: 0.4rem;
  width: 100%;
}

.our-blog .article-title p {
  font-size: 1.2rem;
  color: #636161;
}

.our-blog .article-description p {
  font-size: 0.8rem;
  color: #a3a3a3;
  word-break: break-word;
  text-align: justify;
}

.our-blog .article-description {
  text-align: left;
  width: 95%;
  /* height: 50%; */
  display: flex;
  align-items: center;
}

.our-blog .article-footer {
  height: 10%;
  border-top: 1px solid #e4e4e4;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.article-date {
  width: 45%;
  color: #bbb9b9;
  display: flex;
  align-items: center;
}

.article-button {
  width: 49%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.article-button small {
  cursor: pointer;
  color: #39b54a;
}

.our-blog-container .button-container button {
  margin: 2rem 0;
}

footer {
  width: 100%;
  height: 10rem;
  background-color: #272525;
  display: flex;
  justify-content: center;

}

.footer-content {
  height: 5rem;
  width: 80%;
}

.footer-menu-ul {
  display: inline-flex;
  margin-top: 1rem;
}

.footer-menu-ul li {
  margin-right: 0.5rem;
  margin-top: 0.2rem;
}

.footer-menu-ul li a {
  color: #4e4e4e;
}

.footer-menu-ul li .footer-title {
  color: #629e98;
}

.post-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  min-height: 25rem;
}

.post-holder img {
  width: 100%;
}

.post-holder h1 {
  font: 500 1.6rem/125% 'Jost', sans-serif;
  color: #393939;
}

.post-elements {
  /* background: brown; */
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.post {
  width: 78%;
  background: #fff;
  margin: 1rem 0;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-title-holder {
  padding: 1rem;
}

.post-img-holder {
  text-align: center;
  height: 15rem;
  overflow: hidden;
}

.post-description-holder {
  padding: 0rem 1rem 1rem 1rem;
  color: #393939;
}

.post-description-holder p {
  font-size: 0.90rem;
  white-space: pre-line;
  /* word-break: break-all; */
  word-break: break-word;
  text-align: justify;
}

.recent-posts-aside {
  margin: 1rem;
  width: 22%;
}

.recent-posts-aside .article-title {
  font-size: 0.68rem;
  padding: 0.3rem;
  font-weight: 600;
}

.recent-posts-aside .article {
  background: white;
  margin-bottom: 0.5rem;
}

.recent-posts-title {
  text-align: center;
  margin-top: 0.2rem;
  color: #636161;
  margin-bottom: 0.5rem;
}

.recent-posts-title h3 {
  font-size: 0.9rem;
}

.post-publicated-date {
  color: #a3a3a3;
  font-size: 0.78rem;
  margin-left: 0.10rem;
  display: flex;
  align-items: center;
}

.post-views {
  display: flex;
  font-size: 0.7rem;
  color: #a3a3a3;
  width: 3.5rem;
  justify-content: start;
}

.post-views img {
  width: 1.2rem;
  margin-right: 0.2rem;
  margin-left: 0.3rem;
  margin-top: 0.05rem;
  height: auto;
  filter: invert(72%) sepia(2%) saturate(5%) hue-rotate(331deg) brightness(92%) contrast(88%);
}

.post-date-views {
  display: flex;
  width: 8.7rem;
  justify-content: space-between;
}

.post-date-views .read-time {
  display: flex;
  align-items: center;
}

.who-we-are-page-elements {
  width: 80%;
}

.who-we-are-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

.who-we-are-left,
.who-we-are-right {
  width: 40%;
  display: flex;
  justify-content: center;
}

.who-we-are-right {
  width: 60%;
}

.who-we-are-left-elements,
.who-we-are-right-elements {
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.who-we-are-left-text {
  margin: 1rem 0;
  /* width: 75%; */
}

.who-we-are-left h1,
.who-we-are-left-right h1 {
  font-family: 'Tangerine', cursive;
  font-size: 3.2rem;
  margin: 0.5rem 0;
  font-weight: 500;
}

.who-we-are-left p {
  font-size: 0.95rem;
  font-style: italic;
  color: slategrey;
  font-family: system-ui;
  margin-top: 0.6rem;
}

.who-we-are-left-right {
  display: flex;
}

.who-we-are-page-title p {
  font: 500 3.5rem/125% 'Jost', sans-serif;
  color: #4b4949;
  margin: 1.8rem 0;
}

.who-we-are-right-elements p {
  text-align: justify;
  font-size: 0.95rem;
  /* font-family: 'Jost', sans-serif; */
  font-weight: 100;
  margin: 0.7rem 0;
  color: #4c4848;
  padding: 0.8rem 0;
}

.who_we_are_student {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.who_we_are_student p {
  font-size: 0.95rem;
  font-style: italic;
  color: slategrey;
  font-family: system-ui;
  margin-top: 0.6rem;
  font-weight: 400;
  width: 70%;
  text-align: center;
}

.who-we-are-traders {
  display: flex;
  margin-bottom: 1rem;
}

.trader-card {
  margin-right: 1rem;
}

.trader-card h5 {
  color: #39b54a;
}

.trader-card p {
  color: #6b796d;
  font-style: italic;
  text-align: justify;
}

.who-we-are-description {
  margin-bottom: 1rem;
  text-align: justify;
}

.all-our-posts {
  flex-flow: wrap;
}

/* .all-our-posts .article{
  margin-bottom: 3rem;
} */

.course-page-welcome-elements,
.course-content-elements {
  width: 90%;
  background-color: white;
  display: flex;
}

.course-content-elements {
  position: relative;
}

.course-content-elements ul {
  width: 16rem;
  position: absolute;
  text-align: justify;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.course-content-elements ul li {
  font-family: Lucile console;
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 0.5rem;
  /* list-style: disc; */
  text-align: left;
}

.course-content-elements-title {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  font-family: 'Beth Ellen', cursive;
  color: #fdcf01;
  width: 100%;
}

.left-content {
  width: 50%;
}

.left-students,
.right-students {
  width: 40%;
}

.left-content-image {
  display: flex;
  justify-content: space-between;
  width: 78%;
  padding: 2rem;
}

.left-content-image img {
  width: 17rem;
}

.left-content-image p {
  font-family: Lucile console;
  font-size: 1.2rem;
}

.right-content {
  width: 50%;
  text-align: right;
  padding: 2rem;
}

.right-content img {
  width: 15rem;
  margin-right: 5rem;
  border-top-left-radius: 150px;
}

.left-text {
  /* width: 90%; */
  padding: 2rem 2rem 0 2rem;
  font-family: Lucile console;
  font-size: 1.35rem;
}


.left-content-image p,
.student_name {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  margin-bottom: 2rem;
  font-family: 'Beth Ellen', cursive;
  color: #fdcf01;
}

.course-works {
  width: 90%;
  background-color: white;
}

.works-subtitle {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Beth Ellen', cursive;
  color: #256255;
  margin: 0 0 1.5rem 0;
}

.works-examples-container {
  display: flex;
  justify-content: center;
}

.works-examples {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.work {
  width: 33%;
  text-align: center;
  font-family: Lucile console;
  font-size: 1.05rem;
  padding: 0.5rem;
}

.work h3 {
  font-size: 1.7rem;
  font-family: 'Beth Ellen', cursive;
  margin: 1rem 0;
}

.work p {
  padding: 0 2.1rem;
  text-align: center;
  font-style: italic;
}

.work img {
  width: 70%;
}

.student_2 {
  width: 12rem;
  border-bottom-right-radius: 110px;
}

.left-students-text h1 {
  font-size: 1.5rem;
  font-family: 'Beth Ellen', cursive;
  color: #0ccda4;
  margin: 0 0 1.5rem 0;
  font-weight: 100;
}

.left-student-image,
.right-student-image {
  display: flex;
  position: relative;
}

.right-student-image {
  flex-direction: row-reverse;
}

.left-student-image h3,
.right-student-image h3 {
  right: 0;
  /* font-family: 'Beth Ellen', cursive; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
  color: #fff;
  font-weight: 100;
}

.course-students-elements {
  width: 90%;
  /* background-color: #256255; */
  background-color: #346e69;
  padding: 1rem 1rem 2rem 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.student_2_testimonial,
.student_1_testimonial {
  width: 55%;
  position: absolute;
  top: 5%;
  right: 0;
}

.student_1 {
  border-bottom-right-radius: 0px;
  width: 16rem;
  border-bottom-left-radius: 120px;
}

.student_1_testimonial {
  left: 0;
  top: 62%;
  width: 90%;
}

.student_name {
  font-size: 1.6rem;
  color: #0ccda4
}

.right-students .student_name {
  text-align: end;
  margin-top: 2rem;
}

.right-students {
  padding: 0.5rem;
}

/* .course-testimonials-works h1 {
  font-family: 'Beth Ellen', cursive;
  color: #0ccda4;
  font-size: 2rem;
} */

.course-page-description p,
.course-page-we-offers p,
.course-page-form-title p {
  text-align: justify;
}

.course-page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

.course-page-title {
  margin: 0.3rem 0 0.5rem 0;
}

.course-page-features .course-page-we-offers-title {
  font: 500 1.2rem/125% 'Jost', sans-serif;
  margin: 0.5rem;
}

.course-page-features h3 {
  font: 500 1.5rem/125% 'Jost', sans-serif;
  color: #39b54a;
  margin-bottom: 1rem;
}

.course-page-features {
  display: flex;
  margin: 1.5rem 0;
}

.course-page-we-offers {
  width: 50%;
}

.course-page-items-holder {
  text-align: center;
  width: 50%;
  display: flex;
  justify-content: center;
}

.course-page-items {
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  border-radius: 0.4rem;
  width: 80%;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course-page-form-holder {
  display: flex;
  justify-content: center;
}

.course-page-form-title {
  width: 80%;
}

.course-page-price {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-page-price p {
  font-size: 1.5rem;
}

.course-page-price small {
  font-size: small;
}

.course-page-items .course-content {
  color: #272525;
  text-align: center;
  height: 9.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}

.page-item {
  background-color: #2DD2C1;
  margin-right: 0.1rem;
  margin-bottom: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.page-item:hover {
  background-color: #228f84;
}

.page-link {
  color: white;
  font-size: 0.9rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-item a:hover {
  color: white;
}

.pagination {
  display: flex;
  margin-top: 1rem;
}

.page--selected {
  pointer-events: none;
  background-color: #a3a3a3;
}

/* .post-footer{
  display: flex;
    flex-direction: row-reverse;
}

.post-footer p{
  display: flex;
    align-items: center;
}
 */
/* Media Queries */

@media only screen and (max-width: 409px) {

  .left-content-image img {
    width: 12rem;
  }

}

@media only screen and (max-width: 410px) {

  /* For mobile: */
  .our-courses-title {
    margin: 1.5rem 0;
  }

  .works-subtitle {
    font-size: 1.5rem;
  }

  body {
    overflow-x: hidden;
  }

}

@media only screen and (max-width: 768px) {

  /* For small tablet: */
  /*   .banner-container {
    font: 500 3rem/125% 'Jost', sans-serif;
    text-align: center;
  } */


  .who-we-are-left-right {
    display: block;
  }

  .who-we-are-left,
  .who-we-are-right {
    width: 100%;
  }

  .who-we-are-left-elements,
  .who-we-are-right-elements {
    width: 100%;
  }

  .course-page-welcome-elements,
  .course-content-elements {
    display: block;

  }

  .course-description-container {
    width: 100%;
  }

  .course-teacher-img-container {
    width: 100%;
    background-position-y: center;
  }

  .course-description-container-elements .teacher--sign {
    font-size: 1.1rem;
  }

  .course-description-container-elements .description--paragraph {
    margin: 1.4rem 0;
  }

  .left-content {
    width: 100%;
  }

  .yoga-course {
    margin: 1rem 0;
  }

  .banner-text {
    width: 100%;
  }

  .index-page-banner-title,
  .course-page-course-title {
    font: 500 3rem/125% 'Jost', sans-serif;
    /* text-align: center; */
  }

  .menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
    z-index: 10;
  }

  .hamburger-sub-menu a {
    font-size: 1rem;
  }

  .course {
    width: 100%;
    /* margin-bottom: 0; */
  }

  .our-courses-courses {
    flex-direction: column;
    align-items: center;
  }

  .our-courses-courses a {
    width: 20rem;
  }

  /* .who-we-are-title{
    width: 5rem;
  } */
  .contact-form-form form {
    width: 90%;
  }

  .course-page-items {
    width: 100%;
  }

  .trader-card img {
    width: 100px;
  }

  .post-elements {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .post {
    width: 95%;
    margin-bottom: 0;
  }

  .post-img-holder {
    height: inherit;
  }

  .recent-posts-aside {
    width: 70%;
  }

  .post-holder h1 {
    font: 500 1.28rem/125% 'Jost', sans-serif;
  }

  /*   .footer-menu-ul li {
    margin-right: 0;
  } */

  nav {
    width: 100%;
  }

  .logo {
    width: inherit;
  }

  .our-blog .article {
    width: 20rem;
  }
}

@media only screen and (max-width: 815px) {

  .student_1 {
    width: 15rem;
  }

  .course-content-elements-title {
    font-size: 2rem;
  }

  .who-we-are-page-title p {
    font: 500 2.5rem/125% 'Jost', sans-serif;
    text-align: center;
  }

  .works-examples {
    flex-direction: column;
  }

  .course-students-elements {
    display: block;
  }

  .left-students,
  .right-students {
    width: 100%;
  }

  .work {
    width: 100%;
  }

  .course-content-elements ul {
    width: 100%;
    position: initial;
    transform: initial;
    padding: 0 2rem;
  }

  .course-teacher-img-container {
    background-position-x: center;
  }

  /* For tablet: */
  .our-blog-articles {
    width: 0;
    display: contents;
  }

  /* .our-blog .article-home{margin: 1.5rem 0;} */
  /* .our-blog-container .button-container button {
    margin-top: 1rem;
  } */

  .course-page-features {
    display: block;
  }

  .course-page-we-offers {
    width: 100%;
    margin-bottom: 2rem;
  }

  .course-page-items-holder {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {

  /* For tablet: */
  .our-courses-courses {
    width: 100%;
  }

}