/* ========== 00. General Styling ========== */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    outline: 0;
    transition: all 0.3s ease;
}

.testimonials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.testimonials-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    z-index: -10;
}

blockquote {
    padding: 0;
    margin: 0;
}

section.t-bq-section {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 2rem 0;
    width: 90%;
}

.t-bq-wrapper.t-bq-wrapper-boxed {
    width: 45%;
    margin: 0.2rem;
}

.t-bq-wrapper.t-bq-wrapper-fullwidth {
    max-width: 100%;
}








/* ========== 05. Paul ========== */

.t-bq-quote-paul {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 100%;
    box-shadow: 2px 2px 25px #cecece;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.t-bq-quote-paul .t-bq-quote-paul-pattern {
    flex-basis: 80px;
    background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/hexabump.png") repeat;
    border-radius: 10px 0 0 10px;
}

.t-bq-quote-paul .t-bq-quote-paul-base {
    background: #ffffff;
    padding: 40px 30px 50px 80px;
    font-size: 11pt;
    line-height: 1.62em;
    border-radius: 0 10px 10px 0;
}

.t-bq-quote-paul .t-bq-quote-paul-qmark {
    
    top: 50px;
    left: 105px;
    font-family: Garamond, Georgia, "Times New Roman", serif;
    font-size: 42pt;
    color: #999999;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.t-bq-quote-paul .t-bq-quote-paul-userpic {
    position: absolute;
    top: 80px;
    left: 45px;
    width: 70px;
    height: 70px;
    background: url("https://raw.githubusercontent.com/taviskaron/t-div-blockquotes/main/img/strug.jpg") center center no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.t-bq-quote-paul .t-bq-quote-paul-meta {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px #bbb9b9;
    border-top-style: double;
}

.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-author,
.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-source {
    color: #777777;
}

.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-author {
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 10pt;
    font-weight: bold;
}

.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-author cite {
    font-style: normal;
}

.t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-source {
    font-size: 9pt;
}

.test--green {
    color: #e6e7e8;
    background-color: transparent;
}

.test--green .t-bq-quote.t-bq-quote-paul {
    background-color: #39b54a;
}

.test--green .t-bq-quote-paul .t-bq-quote-paul-base{
    background-color: #39b54a;
}

.test--green .t-bq-quote-paul .t-bq-quote-paul-qmark, .test--green .t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-author, .test--green .t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-source{
    color: #347b3e;
}

@media screen and (max-width: 700px) {
    .t-bq-wrapper.t-bq-wrapper-boxed {
        width: 100%;
    }
    .resp--green {
        color: #e6e7e8;
        background-color: transparent;
    }
    
    .resp--green .t-bq-quote.t-bq-quote-paul {
        background-color: #39b54a;
    }
    
    .resp--green .t-bq-quote-paul .t-bq-quote-paul-base{
        background-color: #39b54a;
    }
    
    .resp--green .t-bq-quote-paul .t-bq-quote-paul-qmark, .resp--green .t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-author, .resp--green .t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-source{
        color: #347b3e;
    }
    /* color: #272525 */
    .resp-no-green {
        color: #e6e7e8;
        background-color: transparent;
    }
    
    .resp-no-green .t-bq-quote.t-bq-quote-paul {
        background-color: #ffffff;
    }
    
    .resp-no-green .t-bq-quote-paul .t-bq-quote-paul-base{
        background-color: #ffffff;
        color: black;
    }
    
    .resp-no-green .t-bq-quote-paul .t-bq-quote-paul-qmark{
        color: #999999;;
    }
    
    .resp-no-green .t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-author, .resp-no-green .t-bq-quote-paul .t-bq-quote-paul-meta .t-bq-quote-paul-source{
        color: #777777;
    }
  }

@media screen and (max-width: 768px) {

    .t-bq-quote-paul .t-bq-quote-paul-pattern {
        flex-basis: 20px;
    }

    .t-bq-quote-paul .t-bq-quote-paul-base {
        flex-basis: calc(100% - 20px);
        padding: 100px 30px 50px 30px;
    }

    .t-bq-quote-paul .t-bq-quote-paul-userpic {
        width: 50px;
        height: 50px;
        left: 40px;
        top: 20px;
    }

    .t-bq-quote-paul .t-bq-quote-paul-qmark {
        left: 100px;
        top: 45px;
    }
}









